@import "../../../style/variables.scss";

.numberField {
  margin-bottom: 30px;

  &__box {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 10px 0 5px 0;

    &__input {
      width: 100%;
      border: 1px solid $fifth-color;
      height: 31px;
      background-color: #f4f9fc;
      padding: 5px 10px;
    }
  }
}
