@import "../../style/variables.scss";

.panel {
  &__content {
    background-color: #ffffff;
    border: 1px solid $fifth-color;
    padding: 50px;
    max-width: 98%;

    &__header {
      font-size: 25px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 80px;
    }
  }
}
@media screen and (max-width: 767px) {
  .panel {
    &__content {
      max-width: 100%;
      width: 100%;
      padding: 25px;
    }
  }
}
