@import "./variables.scss";

.numberInput {
  &__box {
    position: relative;
    &__input {
      width: 100%;
    }
  }
}
.typeInput {
  &__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: "";
    background-image: url("../assets/icons/select_icon.svg");
    background-position: 98%;
    background-repeat: no-repeat;
    background-size: 21px;
  }
  &::-ms-expand {
    display: none; /* Hide the default arrow in Internet Explorer 10 and Internet Explorer 11 */
  }
}
.duartionInput {
  grid-area: 3 / 1 / 4 / 3;

  &__box {
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    &__inputBox {
      width: 32%;
      position: relative;

      &__input {
        width: 100%;
      }
    }
  }
}
.scaleInput {
  grid-area: 4 / 1 / 5 / 3;

  &__box {
    flex-direction: row;
    justify-content: space-between;
    max-width: 500px;
    margin-top: 15px;

    &__inputBox {
      display: flex;
      flex-direction: column;

      &__label {
        margin-top: 5px;
      }
    }
  }
}
