@font-face {
  font-family: "Montserrate";
  src: url("../assets/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrate";
  src: url("../assets/fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 700;
  font-style: medium;
}
@font-face {
  font-family: "Montserrate";
  src: url("../assets/fonts/Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: black;
}
