@import "./variables.scss";
.form {
  &__backButton {
    position: absolute;
    top: 0;
    left: 0;
  }
  &__content {
    //margin: 0 0 10px 0;
    width: 760px;
    min-height: 500px;
    padding: 50px;
    background-color: #ffffff;
    border: 1px solid $fifth-color;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5 auto);
    column-gap: 20px;

    &__header {
      font-size: 25px;
      font-weight: 700;
      text-transform: uppercase;
      grid-area: 1 / 1 / 2 / 3;
      margin-bottom: 80px;
    }

    &__buttonBox {
      grid-area: 5 / 1 / 6 / 3;
      display: flex;
      align-items: flex-end;
      //margin-top: 40px;
      &__button {
        padding: 15px 40px;
        margin-top: 80px;
        background-color: $first-color;
        border: none;
        //text
        color: $secound-color;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 16px;
        cursor: pointer;
      }
    }
  }
}
